{
  "presets": ["env", "stage-0"],
  "plugins": ["transform-runtime", ["component", 
    {
      "libraryName": "mint-ui,element-ui",
      "style": true,
      "styleLibraryName": "theme-chalk"
    }
  ], "transform-remove-strict-mode"]
}